<footer class="site-footer" style="background-color: rgb(0, 134, 187);">
  <div class="container">
    <div class="row align-items-center pb-3">
      <div class="col-md">
        <a class="navbar-brand" href="{{ '/' | absolute_url }}">{{ site.title }}</a>
      </div>
      <div class="col-md">
        <nav>
          <ul class="nav justify-content-end">
          {% for section in site.html_pages %}{% if section.nav == true %}
          <li class="nav-item"><a class="nav-link{% if page.url == section.url %} active{% endif %}" href="{{ section.url | absolute_url }}">{{ section.title }}</a></li>
          {% endif %}{% endfor %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
